html {
    cursor: crosshair;
}

.head-a{
    text-align: center;
}

.btn {
  width: 120px;             /* ширина квадрата */
  height: 48px;            /* высота — равна ширине */
  display: inline-flex;    /* для удобного центрирования содержимого */
  align-items: center;     /* вертикальное центрирование */
  justify-content: center; /* горизонтальное центрирование */
  text-align: center;
  padding: 0;              /* чтобы не ломало размеры */
  border: 3px solid #333;  /* пример рамки */
  background: #fff;        /* пример фона */
  box-sizing: border-box;  /* учитывает рамку в размерах */
  border-radius: 4px;      /* убрать или изменить при необходимости */
  font-size: 14px;
  text-decoration: none;
  color: #333;
}

.module-A-content {
    padding-left: 20px;
    padding-top: 50px;
}