html {
  cursor: crosshair;
}

body {
  background-color: #333;
  font-family: "Open Sans", sans-serif;
}

li {
  padding-top: 4px;
}

.head-module {
  width: 1200px;
  padding-left: 50px;
  padding-top: 10px;
  font-size: 22px;
  font-weight: bold;
  color: white;
}

.btn {
  font-size: 14px;
  text-decoration: none;
}

.module-A-content {
  margin: auto;
  color: white;
  padding-top: 50px;
  padding-left: 80px;

}

a {
  color: red;
}

.history {
  font-family: "Open Sans", sans-serif;
  color: white;
}

.module-A-practic {
  /*  */
}