/* 20-10-25 */

html {
  cursor: crosshair;
}

body {
  background-color: #333;
  font-family: "Open Sans", sans-serif;
}

.head-site {
  color: white;
}

.hello-text {
  text-align: center;
}

.main-block {
  padding-top: 100px;
}

.plan-list {
  text-align: center;
}

.repos-href {
  color: gray; 
}

